.categories {
    display: flex;
    flex-wrap: nowrap; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 63px;
    height: 63px;
    color: #0089d0;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid black;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .categories::-webkit-scrollbar {
    display: none;
  }
  
  .category-item {
    padding: 0 15px;
    border: 1px solid #e5e5e5;
  
    border-radius: 5px;
    background: #f5f5f5;
    transition: background 0.3s;
  }
  
  .category-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .category-item:hover {
    background: #d6d6d6;
  }
  
  .selected {
    background: #d6d6d6;
    color: #0089d0; 
    font-weight: bold;
  } 
  .like-button {
    background: #333131;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 14px;
  }